.navbar {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #333;
    padding: 10px 20px;
    margin: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.auth-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover, .auth-links a:hover {
    color: #ddd;
}